html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  font-family: sans-serif; }

.text-caps {
  text-transform: uppercase; }

.text-small {
  font-size: 65%;
  line-height: 1; }
